name: "{{.Name}}"
description: ""
tags: []
meta: {}
{{- if .domain}}

domains:
  - service: "web"
    host: "{{.domain}}"
    port: {{.port}}
    tls: true
{{- end}}

update:
  mode: manual

auto_start: false

backup:
  enabled: true
  schedule: "0 3 * * *"
  volumes:
    - db_data
