services:
  umami:
    image: ghcr.io/umami-software/umami:postgresql-latest
    expose:
      - "3000"
    environment:
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}
      - APP_SECRET=${APP_SECRET}
      - DISABLE_TELEMETRY=1
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  db:
    image: docker.io/library/postgres:16-alpine
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  db_data:
