name: "{{.Name}}"
description: "Private container image registry"
tags:
  - infrastructure
meta: {}
{{- if .domain}}

domains:
  - service: registry
    host: "{{.domain}}"
    port: 5000
    tls: {{.tls}}
{{- end}}

update:
  mode: manual

auto_start: true

backup:
  enabled: true
  schedule: "0 3 * * *"
  volumes:
    - registry_data
